<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>New Comment Form</h2>
    <form action="/comments" method="post">

    <label for="name">username:</label>
    <input type="text" name="username" id="name">
    <br>
    <label for="comment">comment:</label>
    <textarea name="comment" id="comment" cols="20" rows="10"></textarea>
    <br>
    <button>submit</button>

    <a href="/comments">Go back</a>
</form>
</body>
</html>