<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit comment</title>
</head>
<body>

    <h2>Edit Comment</h2>
    <h3> <%=comment.username%> </h3>
    <form method="POST" action="/comments/<%=comment.id%>?_method=PATCH" >
        <textarea name="newComment" cols="30" rows="10"> 
             <%=comment.comment%> 
        </textarea>
        <button>submit</button>
    </form>    
</body>
</html>