<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h2>All Comments</h2>

    <a href="comments/new">New comment</a>

    <ul>
        <%for(let comment of comments){%>
        <li>    <h4><%=comment.id %></h4> 
            <h4> <%=comment.comment %> - <b><%=comment.username %></b>  </h4>
        

            <a href="comments/<%=comment.id%>">details</a>
            <% } %>
        </li>
    </ul>
</body>
</html>