<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> Your random number is:<%=rand%></h3>


    <%if(rand%2 === 0){ %>
        <h2>Number is even</h2>
    <%} else{%>
        <h2>Number is odd</h2>
    <%}%> 

</body>
</html>