<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  <%=sub %>  </title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h3>Currently browsing the <%=sub%> page</h3>
</body>
</html>